:root {
  --content-color: #424;
  --background-color: #ffff;
}

body, #root{
  background-color: var(--background-color);
  color: var(--content-color);
  margin: 0;
  height: 100vh;
  font-family: Quicksand;
  font-size: large;
}

