:root {
  --content-color: #424;
  --background-color: #ffff;
}

body, #root{
  background: #fdf2f8;
  color: var(--content-color);
  margin: 0;
  height: 100vh;
  font-family: Quicksand;
  font-size: large;
  flex: 1;
}
a {
  text-decoration: none;
  color:deeppink;
}
